<section id="resume" class="resume-section">

  <div class="section-heading">
    <span class="section-label">MY RESUME</span>

    <h2>
      Experience that
      <span>delivers results.</span>
    </h2>

    <p>
      A quick overview of my professional experience,
      technical expertise and development journey.
    </p>
  </div>

  <div class="resume-card">

    <div class="resume-icon">
      📄
    </div>

    <div class="resume-content">

      <h3>Professional Resume</h3>

      <p>
        Explore my professional experience, technical skills,
        projects and expertise in building enterprise applications.
      </p>

      <div class="resume-tags">
        <span>Angular</span>
        <span>NestJS</span>
        <span>.NET</span>
        <span>SQL Server</span>
      </div>

    </div>

    <div class="resume-action">

  <a
     href="assets/Praveen_Kumar_V__Resume.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class="resume-button"
  >
    View Resume
    <span>↗</span>
  </a>

  <a
     href="assets/Praveen_Kumar_V__Resume.pdf"
    download="Praveen_Kumar_V_Resume.pdf"
    class="download-button"
  >
    Download
  </a>

</div>

  </div>

</section>